#Java/Spring Boot

**/target/
**/.class
**/.jar
**/*.war

#Node/Vue

**/node_modules/
**/dist/
**/.env
*/.env.
*/npm-debug.log

#IDEs

.idea/
**/*.iml
.vscode/
.settings/
.classpath
.project

#Misc

*.zip
*.rar
*.log
.DS_Store
Thumbs.db